@import "tailwindcss";

@font-face {
  font-family: "InstrumentSerif-italic";
  src: url("/fonts/InstrumentSerif-Italic.woff2") format("woff2"),
    url("/fonts/InstrumentSerif-Italic.ttf") format("ttf");
}

@font-face {
  font-family: "InstrumentSerif-Regular";
  src: url("/fonts/InstrumentSerif-Regular.woff2") format("woff2"),
    url("/fonts/InstrumentSerif-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "InterTight-Medium";
  src: url("/fonts/InterTight-Medium.woff2") format("woff2"),
    url("/fonts/InterTight-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "InterTight-Regular";
  src: url("/fonts/InterTight-Regular.woff2") format("woff2"),
    url("/fonts/InterTight-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "InterTight-SemiBold";
  src: url("/fonts/InterTight-SemiBold.woff2") format("woff2"),
    url("/fonts/InterTight-SemiBold.ttf") format("ttf");
}

@theme {
  --spacing-sm-pad: clamp(2rem, 6vw, 5rem);
  --spacing-md-pad: clamp(4rem, 8vw, 8rem);
  --spacing-lg-pad: clamp(4rem, 10vw, 13rem);

  --breakpoint-2xl: 103.125rem;

  --color-primary: #0a221f;
  --color-light-bg: #f6f9f2;
  --color-mid-bg: #e6ecd6;
  --color-green-accent: #d8ff85;
  --color-green-accent-dark: #2a4e45;

  --font-instrumental-serif: "InstrumentSerif-Italic";
  --font-instrumental-regular: "InstrumentSerif-Regular";

  --font-interTight-medium: "InterTight-Medium";
  --font-interTight-semibold: "InterTight-SemiBold";
  --font-interTight-regular: "InterTight-Regular";
}

:root {
  font-family: "InterTight-Regular", Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: var(--color-primary);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  h1 {
    @apply text-[2.25rem]     
           md:text-[3.75rem]    
           lg:text-[5.5rem]  
           leading-tight;
  }

  h2 {
    @apply text-[2rem]        
           md:text-[3rem]
           lg:text-[4rem]    
           2xl:text-[4.5rem]  
           leading-tight;
  }

  h3 {
    @apply text-[1.75rem]     
           md:text-[2.5rem]   
           xl:text-[3rem]   
           2xl:text-[3.75rem]  
           mb-2;
  }

  h4 {
    @apply text-[1.55rem]     
           md:text-[2rem]   
           2xl:text-[3rem]     
           mb-1;
  }

  h5 {
    @apply text-[1.375rem]    
           md:text-[1.75rem]  
           2xl:text-[2rem]     
           mb-1;
  }

  p {
    @apply text-base          
           lg:text-[1.125rem] 
           leading-tight
           m-0
           p-0
           font-interTight-regular;
  }

  .mx-container {
    @apply max-w-[1680px] mx-auto px-4 sm:px-6 lg:px-8;
  }
  .s-heading {
    @apply flex w-full pb-3 uppercase tracking-[2px];
  }
  .p-main {
    @apply pt-[100px] min-h-screen;
  }
  .case-container {
    @apply max-w-[1385px] px-4 py-8 mx-auto;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .h2-sm {
    @apply xl:text-[2rem]    
           2xl:text-[4.5rem];
  }
  .p-lg {
    @apply text-2xl mb-2;
  }
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}

html,
body {
  overflow-x: hidden;
  min-height: 100vh;
  background-color: var(--color-light-bg);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
